<h1><%= content_for(:title, "People") %></h1>
<p id="notice"><%= notice %></p>

<h1>Find Friends</h1>

<table>
  <thead>
  <tr>
    <th>User</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even')%>">
      <td><%= user.username %></td>
      <td><%= link_to 'Profile', user_path(user.id) %></td>
      <% unless current_user.exists_friendship?(user.id) %>
        <td><%= link_to 'Add Friend', friendships_path(user_id: current_user.id, friend_id: user.id), method: :post %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>