<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="wrapper">

  <header>
    <%= link_to image_tag("logo.png", alt: "Birdie", size:"240x126"), "/", {class: "websitelogo"} %>
  </header>

  <nav id="horizontalNav">
    <%= link_to "Home", root_path %>
    <%= link_to "Feed", birds_path %>
    <% if current_user %>
      <%= link_to "Profile", user_path(current_user.id) %>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path %>
    <% end %>
  </nav>

  <main id="content">
    <%= render 'layouts/alerts'%>
    <%= yield %>
  </main>

  </div>
  </body>
</html>
